<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<!-- Required meta tags -->

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Trainer home</title>

<link th:href="@{/css/TrainerStyle.css}" rel="stylesheet"
	type="text/css">



</head>

<body>
	<header>


		<div id="logo"></div>
		<div class="knowledger">
			<h2>
				Know<span>Ledger</span>
			</h2>
		</div>

		<nav class="navigation">
			<a th:href="@{/}">Home</a> 
			<a th:href="@{/nav/about}">About</a> 
			<a th:href="@{/nav/services}">Services</a> 
			<a th:href="@{/nav/contact}">Contacts</a>
			<a class="btnLogin" th:href="@{/nav/login}">Login</a>
		</nav>

	</header>


	<div th:if="${errorMessage}" class="alert error">
		<p th:text="${errorMessage}"></p>
	</div>

	<div th:if="${successMessage}" class="alert success">
		<p th:text="${successMessage}"></p>
	</div>


	<div class="animated-title">
		<div class="text-top">
			<div>
				<span>Welcome Trainer!</span>

			</div>
		</div>
		<div class="text-bottom">
			<div>
				<span>Choose your action</span>
			</div>
		</div>
	</div>






	<div class="buttons">

		<div class="box">
			<a href="/createCourse">Add Course</a>
		</div>
		<div class="box">
			<a href="/lesson">Add Lesson</a>
		</div>
		<div class="box">
			<a href="/showCourses">View Courses</a>
		</div>

	</div>


	<script type="module"
		src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule
		src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


</body>

</html>